.blogContainer {
  display: flex;
  position: relative;
}

.blogContainer .blogContentContainer {
  display: block;
  flex: 1;
  min-width: 0;
  padding: 0 var(--ifm-spacing-horizontal);
}

.blogContainer .tocContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 200px;
  right: calc(-200px);
}


@media (max-width: 1260px) {
  .blogContainer .tocContainer {
    position: relative;
    right: auto;
  }
}

@media (max-width: 996px) {  
  .blogContainer .tocContainer {
    display: none;
  }
}
